.wp-block-button,
.wp-block-button a {
   position: relative;
   z-index: 10;
   width: fit-content;
}

.wp-block-button::after {
   content: "";
   position: absolute;
   top: 0px;
   left: 0px;
   height: 110%;
   width: 105%;
   border-radius: 80px;
   z-index: 1;
}

.wp-block-button.is-style-primary::after {
   background-color: var(--wp--preset--color--yellow-mid);
   transition: opacity 300ms ease-out;
}

.wp-block-button.is-style-primary:not(:hover, :focus, :active)::after {
   opacity: 0.7;
}

.wp-block-button.is-style-primary:is(:hover, :focus, :active)::after {
   opacity: 1;
   filter: contrast(1.1);
}

.wp-block-button.is-style-secondary::after {
   background-color: var(--wp--preset--color--coral-mid);
   transform: translateY(-2px) translateX(-2px);
   transition: all 300ms ease-out;
}

.wp-block-button.is-style-secondary:not(:hover, :focus, :active)::after {
   width: 0;
   opacity: 0;
}

.wp-block-button.is-style-secondary:is(:hover, :focus, :active)::after {
   width: 105%;
   opacity: 1;
}
