.wp-block-artedwa-blocks-event-card {
   position: relative;
   height: 100%;
   border-radius: 16px;
   overflow: hidden;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: stretch;
   border: 1.5px solid var(--wp--preset--color--black-light);
   background: white;
   transition: transform 250ms;

   img {
      background-color: lightgray;
      aspect-ratio: 1/1;
      width: 100%;
      object-fit: cover;
   }

   h3 {
      padding-bottom: 16px !important;
   }

   p:last-of-type {
      padding-bottom: 24px;
   }

   .card-container {
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: white;
      padding: 24px;
      height: 100%;
   }

   .card-time {
      position: absolute;
      background-color: inherit;
      display: flex;
      flex-direction: row;
      height: fit-content;
      gap: 4px;
      top: -43px;
      left: 0;
      padding: 24px 24px 0px 24px;
      border-radius: 8px 8px 0px 0px;
      align-items: baseline;
   }

   .card-button-end {
      align-self: flex-start;
      margin-top: auto;
      padding: 0;
   }
}

.wp-block-artedwa-blocks-event-card.is-style-upcoming {
   z-index: 1;
}

.wp-block-artedwa-blocks-event-card.is-style-upcoming:hover,
.wp-block-artedwa-blocks-event-card.is-style-upcoming:focus {
   transform: scale(1.05);
}

.wp-block-artedwa-blocks-event-card.is-style-past {
   z-index: 0;
   opacity: 0.25;
}

.wp-block-query .wp-block-query {
   margin-top: 2rem !important;
}
