/******************/
/* Global Footer  */
/******************/

footer {
   position: relative;
   background-image: url("../svg/Footer-Background.svg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   overflow: hidden;

   .wp-block-group {
      position: relative;
      z-index: 10;
   }

   /* Column links */
   div.wp-block-columns.is-not-stacked-on-mobile {
      flex-wrap: wrap !important;
      column-gap: 16px;
      row-gap: 48px;

      .wp-block-column.cta-column {
         flex-basis: 100%;
      }

      .wp-block-column {
         flex-basis: 40%;
      }
   }

   /* CTA Links */
   .facebook-link,
   .email-link {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1.5px solid #4f4f4f;
      border-radius: 4px;
      width: 40px;
      aspect-ratio: 1/1;
      transition: transform 250ms ease-out;
   }

   .facebook-link:is(:hover, :focus, :active),
   .email-link:is(:hover, :focus, :active) {
      transform: scale(1.1);
   }

   /* Mesh CTA */
   .wp-block-artedwa-blocks-link-wrapper {
      display: flex;
      gap: 8px;

      figure,
      p {
         margin: 0;
      }
      p {
         margin-top: 4px;
      }
   }

   /* Bottom svg */
   .footer-stroke {
      position: absolute;
      height: 15%;
      left: -10%;
      bottom: 0;
      z-index: 1;
      margin-bottom: -8px;
   }
}

@media screen and (min-width: 678px) {
   footer {
      .acknowledgement {
         text-align: center;
      }
      .wp-block-columns {
         column-gap: 16px !important;

         .wp-block-column:not(.cta-column) {
            flex-basis: 0 !important;
            flex-grow: 1 !important;
         }
      }
   }
}

@media screen and (min-width: 750px) {
   footer {
      .wp-block-columns {
         column-gap: 16px !important;

         .wp-block-column:not(.cta-column),
         .wp-block-column.cta-column {
            flex-basis: 0 !important;
            flex-grow: 1 !important;
         }
      }
      .footer-stroke {
         left: 0;
         height: 25%;
         width: 130%;
      }
   }
}

@media screen and (min-width: 1280px) {
   footer {
      .footer-stroke {
         height: 30%;
         width: 100%;
      }
   }
}

/***************************/
/* Home Page Hero Section  */
/***************************/

.home-hero {
   margin-top: 0;
   width: 100%;
   padding-top: 48px;
   padding-bottom: 128px;
   overflow: hidden;
   background-image: url("../svg/Hero-Background.svg");
   background-size: cover;
   background-position: center bottom 32px;
   background-repeat: no-repeat;
}

.home-hero-inner {
   display: flex;
   padding: 48px 0;
   gap: 4px !important;
   margin: 0 auto;
   max-width: 1280px;
}

.home-hero-text {
   order: 2;
   max-width: 672px;
   gap: 32px;
   margin: auto 0;
   text-align: center;

   h1 {
      font-size: 48px;
      line-height: 1;
      font-weight: 700;

      mark.has-inline-color {
         display: flex;
         background-color: unset !important;
         background-image: url("http://localhost:10053/wp-content/themes/artedwa-2024/assets/svg/Hero-Text-Stroke.svg");
         background-size: contain;
         background-repeat: no-repeat;
      }
   }
   p {
      font-size: 22px;
      line-height: 28px;
   }
   div {
      align-self: center;
      gap: 24px;

      a.wp-element-button {
         min-width: 120px;
      }
   }
}

.home-hero-image-1,
.home-hero-image-2 {
   position: relative;

   figure {
      margin-block-start: unset !important;
      margin-block-end: unset !important;
      margin-left: unset !important;
      margin-right: unset !important;
      max-width: unset !important;
      margin: unset !important;
      padding-top: 48px;
   }

   img {
      position: relative;
      z-index: 10;
      width: 400px;
      height: 400px !important;
      object-fit: cover;
      overflow: visible;
   }

   svg {
      position: absolute;
      top: 0;
      z-index: 0;
   }
}

.home-hero-image-1 {
   order: 1;

   figure {
      padding-right: 48px;
   }

   img {
      object-position: right;
      /* border-radius: 0 40px 40px 0; */
   }

   svg {
      top: 0;
      right: 0;
   }
}

.home-hero-image-2 {
   order: 3;

   figure {
      padding-left: 48px;
   }

   img {
      object-position: left;
      /* border-radius: 40px 0 0 40px; */
   }

   svg {
      left: 0;
   }
}

@media screen and (min-width: 768px) {
   .home-hero-inner {
      gap: 0px !important;
   }

   .home-hero-text {
      h1 {
         font-size: 54px;
         line-height: 60px;
      }
   }
}

@media screen and (min-width: 1280px) {
   .home-hero-text {
      h1 {
         font-size: 68px;
         line-height: 1;
      }
   }
}
