/******************/
/* Global Footer  */
/******************/
footer {
   position: relative;
   background-image: url("../svg/Footer-Background.svg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   overflow: hidden;

   .wp-block-group {
      position: relative;
      z-index: 10;
   }

   /* Column links */
   div.wp-block-columns.is-not-stacked-on-mobile {
      flex-wrap: wrap !important;
      column-gap: 16px;
      row-gap: 48px;

      .wp-block-column.cta-column {
         flex-basis: 100%;
      }

      .wp-block-column {
         flex-basis: 40%;
      }
   }

   /* Mesh CTA */
   .wp-block-artedwa-blocks-link-wrapper {
      display: flex;
      gap: 8px;

      figure,
      p {
         margin: 0;
      }
      p {
         margin-top: 4px;
      }
   }

   /* Bottom svg */
   .footer-stroke {
      position: absolute;
      height: 15%;
      left: -10%;
      bottom: 0;
      z-index: 1;
      margin-bottom: -8px;
   }
}

/* Cta Links */
.facebook-link,
.email-link {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1.5px solid #4f4f4f;
   border-radius: 4px;
   width: 40px;
   aspect-ratio: 1/1;
   transition: transform 250ms ease-out;
}

.facebook-link:is(:hover, :focus, :active),
.email-link:is(:hover, :focus, :active) {
   transform: scale(1.1);
}

@media screen and (min-width: 678px) {
   footer {
      .acknowledgement {
         text-align: center;
      }
      .wp-block-columns {
         column-gap: 16px !important;

         .wp-block-column:not(.cta-column) {
            flex-basis: 0 !important;
            flex-grow: 1 !important;
         }
      }
   }
}

@media screen and (min-width: 750px) {
   footer {
      .wp-block-columns {
         column-gap: 16px !important;

         .wp-block-column:not(.cta-column),
         .wp-block-column.cta-column {
            flex-basis: 0 !important;
            flex-grow: 1 !important;
         }
      }
      .footer-stroke {
         left: 0;
         height: 25%;
         width: 130%;
      }
   }
}

@media screen and (min-width: 1280px) {
   footer {
      .footer-stroke {
         height: 30%;
         width: 100%;
      }
   }
}

/***************************/
/* Home Page Hero Section  */
/***************************/

.home-hero {
   margin-top: 0;
   width: 100%;
   padding-top: 48px;
   padding-bottom: 128px;
   overflow: hidden;
   background-image: url("../svg/Hero-Background.svg");
   background-size: cover;
   background-position: center bottom 32px;
   background-repeat: no-repeat;
}

.home-hero-inner {
   display: flex;
   padding: 48px 0;
   gap: 4px !important;
   margin: 0 auto;
   max-width: var(--wp--style--global--wide-size);
}

.home-hero-text {
   order: 2;
   max-width: var(--wp--style--global--content-size);

   gap: 32px;
   margin: auto 0;
   text-align: center;

   h1 {
      font-size: 48px;
      line-height: 1;
      font-weight: 700;

      mark.has-inline-color {
         display: flex;
         background-color: unset !important;
         background-image: url("../svg/Hero-Text-Stroke.svg");
         background-size: contain;
         background-repeat: no-repeat;
      }
   }
   p {
      font-size: 22px;
      line-height: 28px;
   }
   div {
      align-self: center;
      gap: 24px;

      a.wp-element-button {
         min-width: 120px;
      }
   }
}

.home-hero-image-1,
.home-hero-image-2 {
   position: relative;

   figure {
      margin-left: unset !important;
      margin-right: unset !important;
      max-width: unset !important;
      margin: unset !important;
      padding-top: 48px;
   }

   img {
      position: relative;
      z-index: 10;
      width: 400px;
      height: 400px !important;
      object-fit: cover;
      overflow: visible;
   }

   svg {
      position: absolute;
      top: 0;
      z-index: 0;
   }
}

.home-hero-image-1 {
   order: 1;

   figure {
      padding-right: 48px;
   }

   img {
      object-position: right;
      /* border-radius: 0 40px 40px 0; */
   }

   svg {
      top: 0;
      right: 0;
   }
}

.home-hero-image-2 {
   order: 3;

   figure {
      padding-left: 48px;
   }

   img {
      object-position: left;
      /* border-radius: 40px 0 0 40px; */
   }

   svg {
      left: 0;
   }
}

@media screen and (min-width: 768px) {
   .home-hero-inner {
      gap: 0px !important;
   }

   .home-hero-text {
      h1 {
         font-size: 54px;
         line-height: 60px;
      }
   }
}

@media screen and (min-width: 1280px) {
   .home-hero-text {
      h1 {
         font-size: 68px;
         line-height: 1;
      }
   }
}

/********************************/
/* Home Page Resources Section  */
/********************************/

.home-resources {
   background-image: url("../svg/Resources-Background.svg");
   background-size: cover;
   background-repeat: no-repeat;

   div:nth-child(2) {
      flex-wrap: wrap;
      gap: var(--wp--style--block-gap);
      max-width: var(--wp--style--global--content-size);

      a {
         flex-grow: 1;
         flex-basis: 47%;
         display: flex;
         flex-direction: column;
         align-items: center;
         transition: transform 250ms ease-out;

         div {
            text-align: center;
            gap: 4px;

            svg {
               flex-shrink: 0;
               width: 20px;
               height: 20px;
            }
         }
      }
      a:is(:hover, :focus, :active) {
         transform: scale(1.05);
      }
   }
}

@media screen and (min-width: 678px) {
   .home-resources {
      div:nth-child(2) {
         flex-wrap: nowrap;
         max-width: var(--wp--style--global--wide-size);
      }
   }
}

/********************************/
/* Join Us Page                 */
/********************************/

.join-us-membership-cards {
   gap: var(--wp--style--block-gap);

   .membership-price {
      font-size: var(--wp--preset--font-size--18-28);
   }
}

/********************************/
/* About Us Page                */
/********************************/

.committee-query {
   img {
      max-height: 480px;
      object-position: top;
      border-radius: 20px 20px 0 0;
      /* overflow: hidden; */
   }
}

/* Reset Wordpress column block auto columns breakpoint */
@media (max-width: 600px) {
   .committee-query {
      .wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid {
         grid-template-columns: repeat(
            auto-fill,
            minmax(min(240px, 100%), 1fr)
         );
      }

      img {
         width: 100%;
      }
   }
}

/********************************/
/* Support Us Page              */
/********************************/

@media screen and (max-width: 768px) {
   .support-us-become-a-sponsor {
      .wp-block-column:first-of-type {
         h2,
         p {
            text-align: center;
         }
      }
   }
}

.contact-form-column {
   .wpcf7 {
      width: min-content;
      margin: 0 auto;
   }

   form {
      padding: 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;

      p {
         margin: 0;
      }

      label:not(.wp-block-button) {
         font-size: var(--wp--preset--font-size--14-20);
         display: flex;
         flex-direction: column;
         gap: 4px;

         span {
            position: relative;

            span {
               position: absolute;
               top: -27px;
               right: 0;
               z-index: 10;
               padding: 2px 6px;
               border-radius: 6px;
               background-color: var(--wp--preset--color--coral-dark);
               color: white;
            }
         }
      }

      input,
      textarea {
         font-family: inherit;
         font-size: initial;
         padding: 8px 12px;
         border-radius: 6px;
         border: 1px solid var(--wp--preset--color--black-light);
      }

      textarea {
         resize: none;
      }

      textarea:is(:focus),
      input:is(:focus) {
         outline: unset;
         border: 2px solid var(--wp--preset--color--yellow-dark);
      }

      p:last-of-type {
         align-self: flex-start;
      }

      .wp-block-button {
         display: flex;

         input {
            z-index: 10;
         }
      }

      .wpcf7-spinner {
         position: absolute;
         left: 110%;
         background-color: transparent;
         border: 1px solid var(--wp--preset--color--black-mid);
      }
      .wpcf7-spinner::before {
         background-color: var(--wp--preset--color--black-mid);
      }

      .wpcf7-response-output {
         margin: unset;
         color: white;
         border: unset;
         border-radius: 8px;
         padding: 16px;
         background-color: var(--wp--preset--color--coral-dark);
      }
   }
}
