/******************/
/* Global Footer  */
/******************/
footer {
   position: relative;
   background-image: url("../svg/Footer-Background.svg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   overflow: hidden;

   .wp-block-group {
      position: relative;
      z-index: 10;
   }

   /* Column links */
   div.wp-block-columns.is-not-stacked-on-mobile {
      flex-wrap: wrap !important;
      column-gap: 16px;
      row-gap: 48px;

      .wp-block-column.cta-column {
         flex-basis: 100%;
      }

      .wp-block-column {
         flex-basis: 40%;
      }
   }

   /* Bottom svg */
   .footer-stroke {
      position: absolute;
      height: 15%;
      left: -10%;
      bottom: 0;
      z-index: 1;
      margin-bottom: -8px;
   }

   .footer-stroke {
      stroke-dasharray: 10000;
      stroke-dashoffset: 10000;
   }
}

.footer-stroke.intersecting {
   animation: highlightEffect 6s linear forwards;
}

@media screen and (min-width: 678px) {
   footer {
      .acknowledgement {
         text-align: center;
      }
      .wp-block-columns {
         column-gap: 16px !important;

         .wp-block-column:not(.cta-column) {
            flex-basis: 0 !important;
            flex-grow: 1 !important;
         }
      }
   }
}

@media screen and (min-width: 750px) {
   footer {
      .wp-block-columns {
         column-gap: 16px !important;

         .wp-block-column:not(.cta-column),
         .wp-block-column.cta-column {
            flex-basis: 0 !important;
            flex-grow: 1 !important;
         }
      }
      .footer-stroke {
         left: 0;
         height: 25%;
         width: 130%;
      }
   }
}

@media screen and (min-width: 1280px) {
   footer {
      .footer-stroke {
         height: 30%;
         width: 100%;
      }
   }
}

/* Social Links */
.facebook-link,
.email-link {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1.5px solid #4f4f4f;
   border-radius: 4px;
   width: 40px;
   aspect-ratio: 1/1;
   transition: transform 250ms ease-out;
}

.facebook-link:is(:hover, :focus, :active),
.email-link:is(:hover, :focus, :active) {
   transform: scale(1.1);
}

/**************************/
/* Home Page */
/**************************/

/* Hero */
.home-hero {
   overflow: hidden;
   background-image: url("../svg/Hero-Background.svg");
   background-size: cover;
   background-position: center bottom 32px;
   background-repeat: no-repeat;

   .home-hero-inner {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .home-hero-text {
         margin: auto;
         grid-column: 1/-1;
         max-width: var(--wp--style--global--content-size);

         .wp-block-heading {
            font-size: clamp(38px, 6vw + 12px, 52px);
            line-height: 1;
            position: relative;

            .highlight {
               text-wrap: nowrap;
               position: relative;
               z-index: 10;
               display: flex;
            }
         }

         p {
            font-size: 18px;
            line-height: 28px;
         }

         .wp-element-button {
            min-width: 120px;
         }
      }

      .home-hero-image-1,
      .home-hero-image-2 {
         position: relative;

         figure {
            width: fit-content;
            padding-top: 48px;

            img {
               position: relative;
               z-index: 10;
            }
         }

         svg {
            margin-top: unset;
            position: absolute;
            top: 0;
            z-index: 0;
            height: 130%;
         }
      }

      .home-hero-image-1 {
         grid-column: 1/3;
         grid-row: 2;
         align-self: flex-start;

         img {
            border-radius: 0 20px 20px 0 !important;
            object-position: right;
         }

         svg {
            top: 0;
            right: 0;
         }
      }

      .home-hero-image-2 {
         margin-top: 160px !important;
         grid-column: 3/5;
         grid-row: 2;

         img {
            border-radius: 20px 0 0 20px !important;
            object-position: left;
         }

         svg {
            left: 0;
         }
      }
   }
}

.home-hero-animation {
   .wp-block-heading {
      position: relative;
   }

   svg {
      position: absolute;
      bottom: -40px;
      left: -48px;
      right: 0;
      z-index: 0;
      width: 120%;
   }
   .highlight {
      stroke-dasharray: 100;
      stroke-dashoffset: 100;
      animation: highlightEffect 4s linear forwards;
   }
}

@keyframes highlightEffect {
   to {
      stroke-dashoffset: 0;
   }
}

@media screen and (min-width: 768px) {
   .home-hero {
      .home-hero-inner {
         grid-template-columns: repeat(12, 1fr);

         .home-hero-text {
            grid-column: 4/10;
            grid-row: 1;
            padding: unset !important;

            h1 {
               font-size: clamp(40px, 4vw + 10px, 56px);
            }
         }

         .home-hero-image-1 {
            grid-column: 1/4;
            grid-row: 1;
         }
         .home-hero-image-2 {
            grid-column: 10/13;
            grid-row: 1;
            margin-top: unset !important;
         }
      }
   }
}

@media screen and (min-width: 1040px) {
   .home-hero {
      padding-bottom: 136px !important;

      .home-hero-inner {
         max-width: 1760px;
         margin: 0 auto;

         .home-hero-text {
            h1 {
               font-size: clamp(56px, 4vw + 10px, 68px);
            }
         }

         .home-hero-image-1,
         .home-hero-image-2 {
            figure {
               img {
                  border-radius: 20px !important;
               }
            }
         }

         .home-hero-image-1 {
            figure {
               padding-right: 1rem;
            }
         }
         .home-hero-image-2 {
            figure {
               padding-left: 1rem;
            }
         }
      }
   }
}

/* Resources  */
.home-resources {
   background-image: url("../svg/Resources-Background.svg");
   background-size: cover;
   background-repeat: no-repeat;

   div:nth-child(2) {
      flex-wrap: wrap;
      gap: var(--wp--style--block-gap);
      max-width: var(--wp--style--global--content-size);

      a {
         flex-grow: 1;
         flex-basis: 47%;
         display: flex;
         flex-direction: column;
         align-items: center;
         transition: transform 200ms ease-out;

         figure {
            opacity: 0;
            transition: opacity 400ms ease-out;
         }

         div {
            text-align: center;
            gap: 4px;

            svg {
               flex-shrink: 0;
               width: 20px;
               height: 20px;
            }
         }
      }
      a:is(:hover, :focus, :active) {
         transform: scale(1.05);
      }
   }
}

.home-resources {
   div:nth-child(2).intersecting {
      a figure {
         opacity: 1;
      }
      a:nth-child(2) figure {
         transition-delay: 300ms;
      }
      a:nth-child(3) figure {
         transition-delay: 400ms;
      }
      a:nth-child(4) figure {
         transition-delay: 600ms;
      }
   }
}

@media screen and (min-width: 678px) {
   .home-resources {
      div:nth-child(2) {
         flex-wrap: nowrap;
         max-width: var(--wp--style--global--wide-size);
      }
   }
}

/* About us 1 */
.home-about-1 .wp-block-columns {
   .wp-block-column p,
   .wp-block-buttons,
   figure {
      opacity: 0;
      transition: opacity 400ms;
   }
}

.home-about-1 .wp-block-columns.intersecting {
   p,
   .wp-block-buttons,
   figure {
      opacity: 1;
   }

   .wp-block-buttons {
      transition-delay: 300ms;
   }

   figure {
      transition-delay: 600ms;
   }
}

/* About us 2 */
.home-about-2 {
   div[data-wp-interactive="gutenberg-store"] {
      li {
         opacity: 0;
         transition: opacity 400ms ease-out;
      }
   }
}

.home-about-2 {
   div[data-wp-interactive="gutenberg-store"].intersecting {
      li {
         opacity: 1;
      }
      li:nth-child(2) {
         transition-delay: 300ms;
      }
      li:nth-child(3) {
         transition-delay: 600ms;
      }
      li:nth-child(4) {
         transition-delay: 900ms;
      }
      li:nth-child(5) {
         transition-delay: 1200ms;
      }
      li:nth-child(6) {
         transition-delay: 1500ms;
      }
      li:nth-child(7) {
         transition-delay: 1800ms;
      }
      li:nth-child(8) {
         transition-delay: 2100ms;
      }
      li:nth-child(9) {
         transition-delay: 2400ms;
      }
      li:nth-child(10) {
         transition-delay: 2700ms;
      }
   }
}

/********************************/
/* Join Us Page                 */
/********************************/

.join-us-become-a-member div[data-wp-interactive="gutenberg-store"] {
   .wp-block-column {
      opacity: 0;
      transition: opacity 400ms ease-out;
   }
}

.join-us-become-a-member
   div[data-wp-interactive="gutenberg-store"].intersecting {
   .wp-block-column {
      opacity: 1;
   }
   .wp-block-column:nth-child(2) {
      transition-delay: 300ms;
   }
   .wp-block-column:nth-child(3) {
      transition-delay: 600ms;
   }
}

.join-us-volunteer div[data-wp-interactive="gutenberg-store"] {
   li {
      opacity: 0;
      transition: opacity 400ms ease-out;
   }
}

.join-us-volunteer div[data-wp-interactive="gutenberg-store"].intersecting {
   li {
      opacity: 1;
   }

   li:nth-child(2) {
      transition-delay: 300ms;
   }
   li:nth-child(3) {
      transition-delay: 600ms;
   }
   li:nth-child(4) {
      transition-delay: 900ms;
   }
   li:nth-child(5) {
      transition-delay: 1200ms;
   }
   li:nth-child(6) {
      transition-delay: 1500ms;
   }
   li:nth-child(7) {
      transition-delay: 1800ms;
   }
   li:nth-child(8) {
      transition-delay: 2100ms;
   }
   li:nth-child(9) {
      transition-delay: 2400ms;
   }
   li:nth-child(10) {
      transition-delay: 2700ms;
   }
}

.membership-price {
   font-size: var(--wp--preset--font-size--18-28);
}

.volunteer-card {
   height: 100%;

   p {
      margin-bottom: auto;
   }
}

/********************************/
/* About Us Page                */
/********************************/

.about-us-history div[data-wp-interactive="gutenberg-store"] {
   .wp-block-column {
      opacity: 0;
      transition: opacity 400ms;
   }
}

.about-us-history div[data-wp-interactive="gutenberg-store"].intersecting {
   .wp-block-column {
      opacity: 1;
   }
   .wp-block-column:nth-child(2) {
      transition-delay: 300ms;
   }
}

/* Reset Wordpress column block auto columns breakpoint */
@media (max-width: 600px) {
   .about-us-committee div[data-wp-interactive="gutenberg-store"] {
      .wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid {
         grid-template-columns: repeat(
            auto-fill,
            minmax(min(240px, 100%), 1fr)
         );
      }

      img {
         width: 100%;
      }
   }
}

/********************************/
/* Support Us Page              */
/********************************/

.support-us div[data-wp-interactive="gutenberg-store"],
.contact-us div[data-wp-interactive="gutenberg-store"] {
   .wp-block-column {
      opacity: 0;
      transition: opacity 400ms;
   }
}

.support-us div[data-wp-interactive="gutenberg-store"].intersecting,
.contact-us div[data-wp-interactive="gutenberg-store"].intersecting {
   .wp-block-column {
      opacity: 1;
   }
   .wp-block-column:nth-child(2) {
      transition-delay: 300ms;
   }
}

@media screen and (max-width: 768px) {
   .support-us-become-a-sponsor div[data-wp-interactive="gutenberg-store"] {
      .wp-block-column:first-of-type {
         h2,
         p {
            text-align: center;
         }
      }
   }
}

.contact-form-column * {
   width: 100%;
}
.contact-form-column {
   .wpcf7 {
      margin: 0 auto;
   }

   form {
      width: 100%;
      max-width: 400px;
      padding-top: 2rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;

      p {
         margin: 0;
         width: 100%;
      }

      label:not(.wp-block-button) {
         font-size: var(--wp--preset--font-size--14-20);
         display: flex;
         flex-direction: column;
         gap: 4px;

         span {
            position: relative;

            span {
               position: absolute;
               top: -27px;
               right: 0;
               z-index: 10;
               padding: 2px 6px;
               border-radius: 6px;
               background-color: var(--wp--preset--color--coral-dark);
               color: white;
            }
         }
      }

      input,
      textarea {
         font-family: inherit;
         font-size: initial;
         padding: 8px 12px;
         border-radius: 6px;
         border: 1px solid var(--wp--preset--color--black-light);
      }

      textarea {
         resize: none;
      }

      textarea:is(:focus),
      input:is(:focus) {
         outline: unset;
         border: 2px solid var(--wp--preset--color--yellow-dark);
      }

      p:last-of-type {
         align-self: flex-start;
      }

      .wp-block-button {
         display: flex;

         input {
            z-index: 10;
         }
      }

      .wpcf7-spinner {
         position: absolute;
         left: 110%;
         background-color: transparent;
         border: 1px solid var(--wp--preset--color--black-mid);
      }
      .wpcf7-spinner::before {
         background-color: var(--wp--preset--color--black-mid);
      }

      .wpcf7-response-output {
         margin: unset;
         color: white;
         border: unset;
         border-radius: 8px;
         padding: 16px;
         background-color: var(--wp--preset--color--coral-dark);
      }
   }
}

@media screen and (min-width: 768px) {
   .contact-form-column {
      form {
         padding-top: unset;
      }
   }
}
