.navigation-row {
   .wp-block-site-logo {
      align-self: center;
      img {
         height: 48px;
         width: auto;
      }
   }
   .navigation-links-row {
      flex-direction: row-reverse;
      gap: 4px;
      width: 100%;
      justify-content: space-between;

      .wp-block-navigation-item {
         position: relative;

         a {
            padding: 8px;
         }
      }

      .wp-block-navigation-item {
         position: relative;
      }

      .wp-block-navigation-item.current-menu-item::after {
         content: "";
         position: absolute;
         bottom: -6px;
         background-color: rgba(250, 204, 21, 0.5);
         border-radius: 500% 100% 200% 0%;
         display: flex;
         width: 90%;
         height: 6px;
         width: 100%;
         transition: width 250ms ease-out;
      }
   }
}

/* Changes from mobile nav to expanded */
@media screen and (min-width: 768px) {
   header.navigation-row {
      padding: 12px 24px !important;
      font-size: 14px;
      line-height: 20px;

      .navigation-links-row {
         flex-direction: column;

         .wp-block-navigation {
            row-gap: 16px;

            .wp-block-navigation__responsive-container-content {
               justify-content: space-between;
            }
         }
         .wp-block-buttons {
            flex-wrap: nowrap;
            gap: 16px;

            .wp-block-button {
               a {
                  padding: 12px 16px;
               }
            }
         }
      }
   }
}

@media screen and (min-width: 870px) {
   header.navigation-row {
      padding: 16px 32px !important;
      font-size: initial;
      line-height: initial;

      .navigation-links-row {
         .wp-block-navigation {
            row-gap: 24px;
         }

         .wp-block-buttons {
            gap: 16px;

            .wp-block-button {
               a {
                  padding: 12px 20px;
               }
            }
         }
      }
   }
}

@media screen and (min-width: 1100px) {
   header.navigation-row {
      .navigation-links-row {
         flex-direction: row;
         gap: 48px;
         justify-content: start;

         .wp-block-navigation {
            flex-grow: 1;
         }
      }
      .wp-block-site-logo {
         img {
            height: 64px;
         }
      }
   }
}
