<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"metadata":{"name":"Join the Committee"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|96","bottom":"var:preset|spacing|96"},"margin":{"top":"var:preset|spacing|96","bottom":"var:preset|spacing|96"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--96);margin-bottom:var(--wp--preset--spacing--96);padding-top:var(--wp--preset--spacing--96);padding-bottom:var(--wp--preset--spacing--96)"><!-- wp:heading {"textAlign":"center","fontSize":"40-44"} -->
<h2 class="wp-block-heading has-text-align-center has-40-44-font-size">Page Not Found</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","style":{"spacing":{"margin":{"top":"var:preset|spacing|16"}}},"fontSize":"18-28"} -->
<p class="has-text-align-center has-18-28-font-size" style="margin-top:var(--wp--preset--spacing--16)">Oops, we can't find the page you're looking for.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->