<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"className":"is-style-beige is-style-secondary","layout":{"type":"constrained"}} -->
<div class="wp-block-group is-style-beige is-style-secondary"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Your Hub for<br>Art Education in WA</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Join Our Community of 300+ Art Educators Shaping the Future</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-primary"} -->
<div class="wp-block-button is-style-primary"><a class="wp-block-button__link wp-element-button">Join Us</a></div>
<!-- /wp:button -->

<!-- wp:button {"className":"is-style-secondary"} -->
<div class="wp-block-button is-style-secondary"><a class="wp-block-button__link wp-element-button">Support Us</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"className":"is-style-primary"} -->
<div class="wp-block-button is-style-primary"><a class="wp-block-button__link wp-element-button">test</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->